<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>

<body>
    <footer>
        <div class="content-container">

            <section class="footer-content-sec">
            <div class="footer-txt">
                <p>FREEQUICKCREDITCARD.COM provide Best Banking Service in UAE.

                </p>
            </div>
            <section class="logo-sec">
                <div class="footer-logos">
                    <button class="footer-btn">
                    <span class="logo-container"><i class="fa-brands fa-square-instagram f-logo"></i> instagram </span>
                    </button>
                </div>
                <div class="footer-logos">
                    <button class="footer-btn">
                     <span class="logo-container"><i class="fa-brands fa-facebook f-logo"></i> Facebook</span> </div>
                     </button>

                <div class="footer-logos">
                    <button class="footer-btn">
                    <span class="logo-container"><i class="fa-brands fa-square-twitter f-logo"></i>
                        Twitter
                    </span>
                    </button>

                </div>

            </section>
            
            </section>
  

  <section class="footer-content-sec">
    <div class="footer-conatct">
   <span class="location-icon-container"><i class="fa-solid fa-location-arrow location-icon"></i></span>
   <h3>Contact</h3>
   <h4>Contact@freequickcredit.com</h4>
   </div>
  </section>
  
        
        </div>
        
          
    </footer>
</body>

</html>